<footer class="site-footer">
  <div class="container footer-inner">
    <div class="footer-links">
      <a href="#" aria-disabled="true">개인정보처리방침</a>
      <a href="#" aria-disabled="true">저작권보호정책</a>
      <a href="#" aria-disabled="true">이메일무단수집거부</a>
      <a href="https://www.pusan.ac.kr/" target="_blank" rel="noreferrer">부산대학교</a>
    </div>

    <div class="footer-meta">
      <div>(46241) 부산광역시 금정구 부산대학로63번길 2 (장전동) 공동연구기기동(311)</div>
      <div>TEL : 051-510-2228 / FAX : 051-510-7664</div>
      <div class="footer-copy">copyright (C) PUSAN NATIONAL UNIVERSITY. All rights reserved.</div>
    </div>
  </div>
</footer>
