<footer class="site-footer">
  <div class="container footer-inner">
    <div class="footer-meta">
      <div>(46241) 부산광역시 금정구 부산대학로63번길 2 (장전동) 공동연구기기동(311)</div>
      <div>TEL : 051-510-2228 / FAX : 051-510-7664</div>
      <div class="footer-copy">copyright 2026 © LETS. All rights reserved.</div>
    </div>
  </div>
</footer>
