---
import BaseLayout from "./BaseLayout.astro";

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <div class="section-layout">
    <section class="sub-content">
      <slot />
    </section>
  </div>
</BaseLayout>
